*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --lighter-gray: hsl(0, 0%, 95%);
  --light-gray: hsl(0, 0%, 35%);
  --navy-blue: hsl(198, 90%, 19%);
  --mid-blue: hsl(186, 100%, 80%);
  --blue-green: hsl(174, 69%, 68%);
  --baby-blue: hsl(186, 59%, 89%);
  --size: 150px;
  --gap: 2em;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: var(--lighter-gray);
}

header {
  padding-inline: 2em;
  display: grid;
  place-content: center;
}

h1 {
  color: var(--black);
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5;
  color: var(--baby-green);
}

main {
  padding-inline: 2em;
  max-width: 1440px;
  display: grid;
  place-content: center;
  margin: auto;
}

section {
  max-width: 1440px;
}

.product-carousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.product-card {
  width: 300px;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.product-card:hover .product-btn {
  opacity: 1;
  visibility: visible;
}

.product-card:hover .product-img {
  filter: brightness(50%);
}

.product-btn {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s linear, opacity 0.3s linear;
  font-size: 1.25em;
  padding: 1.25em 1em;
  color: var(--black);
  width: 100%;
  max-width: 8em;
  font-weight: 500;
  letter-spacing: 0.16ch;
  border: none;
  border-radius: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
  text-transform: uppercase;
  box-shadow: 2px 4px 12px hsla(0, 0%, 0%, 0.4);
}

.adaptive-glass {
  --glass-lightness: 100%;

  background: hsl(0 0% var(--glass-lightness) / 80%);
  background-filter: blur(40px);

  @media (prefers-color-scheme: dark) {
    --glass-lightness: 0%;
  }
}

figure {
  position: relative;
  margin: 0;
  max-width: inherit;
  height: 450px;
}

.product-img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  filter: brightness(100%);
  -webkit-transition: -webkit-filter 500ms linear;
  transition: filter 500ms linear;
  background-image: linear-gradient(to bottom, hsl(0 0% 40%), hsl(0 0% 20%));
}

figcaption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  padding: 1em 2em;
  width: 100%;
  background-color: var(--white);
}

.product-details {
  display: flex;
  flex-flow: column wrap;
}

.product-title {
  font-weight: 600;
}

.product-season {
  color: var(--light-gray);
}

/* Carousel */

.horizontal-media-scroller {
  display: grid;
  grid-auto-flow: column;
  gap: calc(var(--gap) / 2);
  margin: 0;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding-inline: var(--gap);
  padding-block: calc(
    var(--gap) / 2
  ); /* make space for scrollbar and focus outline */

  scroll-snap-type: inline mandatory;
}

.horizontal-media-scroller .product-card {
  scroll-snap-align: start;
}

.horizontal-media-scroller a {
  color: inherit;
  text-decoration: none;
  outline-offset: 12px;
}

.horizontal-media-scroller a:focus {
  outline-offset: 7px;
}

@media (prefers-reduced-motion: no-preference) {
  .horizontal-media-scroller a {
    transition: outline-offset 500ms ease;
  }
}

.horizontal-media-scroller > li {
  display: inline-block; /* removes the list-item bullet */
}

.horizontal-media-scroller picture {
  inline-size: var(--size);
  block-size: var(--size);
}

.horizontal-media-scroller > li:last-of-type .product-card {
  position: relative;
}

.horizontal-media-scroller > li:last-of-type .product-card::after {
  content: "";
  position: absolute;

  inline-size: var(--gap);
  block-size: 100%;

  inset-block-start: 0;
  inset-inline-end: calc(var(--gap) * -1);
}
