*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 2rem;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  min-block-size: 100vh;
}

th {
  cursor: pointer;
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.up {
  background-color: aquamarine;
}

.down {
  background-color: blueviolet;
}
