*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --rainbow-1: red;
  --rainbow-2: orange;
  --rainbow-3: yellow;
  --rainbow-4: green;
  --rainbow-5: blue;
  --rainbow-6: indigo;
  --rainbow-7: violet;
  --surface: hsl(0, 0%, 0%);
  --text: hsl(0, 0%, 90%);
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  padding: 0 2rem;
  background: var(--surface);
  color: var(--text);
  line-height: 1.5;
}

.header {
  display: grid;
  place-content: center;
}

h1 {
  font-size: 1.5em;
}

main {
  display: grid;
  place-content: center;
}

.main {
  max-width: 80ch;
  line-height: 1.5em;
  letter-spacing: 0.1ch;
}
